<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StayHub</title>
</head>
<body>
    <h3>Edit Listing</h3>
    <form method="POST" action="/listings/<%= currentListing._id %>?_method=PUT">
        <input type="text" name="listing[title]" value="<%= currentListing.title %>">
        <br><br>
        <textarea  name="listing[description]" cols="30" rows="10" > <%= currentListing.description %> </textarea>
        <br><br>
        <input  type="text" name="listing[image]" value="<%= currentListing.image %>">
        <br><br>
        <input type="number" name="listing[price]" value="<%= currentListing.price %>">
        <br><br>
        <input type="text" name="listing[location]" value="<%= currentListing.location %>">
        <br><br>
        <input type="text" name="listing[country]" value="<%= currentListing.country %>">
        <br><br>
        <button>Edit</button>
    </form>
</body>
</html>