<% layout("/layouts/boilerplate") %>
<h3 class="mt-2">Edit Listing</h3>
<div class="row">
  <div class="col-8 offset-2">
    <form
      method="POST"
      action="/listings/<%= currentListing._id %>?_method=PUT"
      class="needs-validation"
      novalidate
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="listing[title]"
          value="<%= currentListing.title %>"
          class="form-control"
          required
        />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" class="form-control" required>
 <%= currentListing.description %> </textarea
        >
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Upload new image</label>
        <input
          type="file"
          name="listing[image]"
          class="form-control"
        />
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              type="number"
              name="listing[price]"
              value="<%= currentListing.price %>"
              class="form-control"
              required
            />
          </div>
          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input
              type="text"
              name="listing[country]"
              value="<%= currentListing.country %>"
              class="form-control"
              required
            />
          </div>
      </div>
     
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          name="listing[location]"
          value="<%= currentListing.location %>"
          class="form-control"
          required
        />
      </div>

      <button class="btn btn-dark edit-btn">Edit</button>
    </form>
  </div>
</div>
