<% layout("/layouts/boilerplate") %>

    <h3>Listing Details..!</h3>
    <ul>
      <li><%= currentListing.title %></li>
      <li><%= currentListing.description %></li>
      <li> &#8377; <%= currentListing.price.toLocaleString("en-IN") %></li>
      <li><%= currentListing.location %></li>
      <li><%= currentListing.country %></li>
    </ul>
    <br><br>
    <a href="/listings/<%= currentListing._id %>/edit">Edit</a>
    <br><br>
    <form method="POST" action="/listings/<%= currentListing._id %>?_method=DELETE">
        <button>DELETE</button>
    </form>